{% extends "base.html" %}
{% block title %}Edit book{% endblock %}
{% block content %}
<h1>This is a page where you can edit book info (change values)</h1>
<form action="#" method="post">
    <table class="table">
        <tbody>
                <tr>
                    <td>Modifying book with ISBN equals <b>{{ book_isbn }}</b></td>
                </tr>
                {% for key in book %}
                    <tr>
                     <td><label for={{ key }}>{{ key }}</label></td>
                     <td><input type="text" id={{ key }} name={{ key }} value="{{ book[key] }}"><br></td>
                    </tr>
                {% endfor %}
           <tr>
               <td><input type="submit" id="submit" value="submit"><br></td>
           </tr>
        </tbody>
    </table>
    </form>
{% endblock %}